
<html>
    <head>

    </head>

    <body>
        <h1>
            
           @foreach(var item in Model){
            <h6>@item</h6>
           }
        <h3>please refer below material</h3>
        <iframe src="newcsa/wwwroot/dotnet tutorial for beginners.pdf" width="800" height="600"></iframe>
        
            
            </h1>
    

    </body>
</html>