<html>

    <head>

    </head>

    <body>
        <h1>student login</h1>
        <form method="post">
            <div>
            <label>enter your id </label>
            <input type="number" id="StdId" name="StdId" class="form-control" required/>
            </div>
            <div>
            <label>enter password</label>
            <input type="text" id="Password" name="Password" class="form-control" required/>
            </div>

            <div>
            
            <input type="submit" value="Submit "id="submit" class="form-control" required/>
            </div>
        </form>
        <h1>@ViewData["result"]</h1>
    </body>
</html>